extends layout

block main
  if recipeCollections === undefined || recipeCollections.length === 0
    p#no_collection You don't have any recipe collections. Why not create one?
  else 
    p You have some recipe collections. We need to list them.

block headerLinks
  .actions
    a.add(href="/lists/new") New Recipe Collection