doctype html

html(lang="en-US")

  head 
    title Recipe Keeper
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")
    script(src="/javascripts/application.js")


  body 
    header
      h1 Recipe Keeper
      block headerLinks

    main 
      - let kinds = Object.keys(flash || {});
      if kinds.length > 0
        ul
          each kind in kinds
            each message in flash[kind]
              li.flash(class=kind)= message

      block main