doctype html

html(lang="en-US")

  head 
    title Recipe Keeper
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body 
    header
      h1 Recipe Keeper
      block headerLinks

    main 
      block main