extends layout

block main
  form(action="/collections" method="post")
    dl
      dt
        label(for="recipeCollectionTitle") Enter the title for your new recipe collection: 
      dd 
        input(type="text"
              id="recipeCollectionTitle"
              name="recipeCollectionTitle"
              placeholder="Collection Title"
              value=recipeCollectionTitle)

    fieldset.actions 
      input(type="submit" value="Save")
      a(href="/collections") Cancel